:local(.main) {
    flex: 1;
    font-size: 10vmin;
    font-weight: 700;
    line-height: 1.2em;
    padding: .25em;
    border: .25em solid transparent;
}

:local(.letter) {
    color: #34495e;
    transition: color 150ms ease-out;
}

:local(.letter).done {
    color: #27ae60;
}